.bar
  display: flex
  background: #fff
  border: 1px solid #E3E3E3
  border-radius: 4px
  overflow: hidden

.item
  flex: 1
  background-color: #EBEAEA80
  padding: 14px 20px
  min-width: 0

.label
  margin-bottom: 4px

.value
  // color: #31BA9C

  &.teal
    color: #31BA9C !important