.phone-label-and-input
    border: .1rem solid #e3e3e3 !important
    border-radius: .8rem !important
    height: 3.3rem !important
    margin-top: .8rem !important
    padding: 1.2rem 
    width: 100% !important

.phone-input-label
    margin-bottom: 1.3rem

.mandatory-star
  color: #D71A23
  margin-left: 0.3rem

.mandatoryError-border
    border-color: #D71A23 !important