
.error-heading-container
    margin-right: -15px
    height: 4.2rem
    background-color: #FAD3D4
    border-radius: .8rem
    border-left: 4px solid #D71A23
    margin-top: 3rem
    margin-bottom: 3rem
    display: flex
    padding: 1.2rem 2rem
    column-gap: 1rem


.warning-heading-container
    
    height: 4.2rem
    background-color: #FEF9C2
    border-radius: .8rem
    border: .1rem solid #F59E0B
   
    margin-bottom: 1.5rem
    display: flex
    padding: 1.2rem 2rem
    column-gap: 1rem


.yellow-heading-container
    background-color: #FEF9C2
    border-radius: .8rem
    border: .1rem solid #F59E0B
   
    margin-bottom: 1.5rem
    display: flex
    column-gap: 1rem

    p
        padding: 1.2rem 2rem
        line-height: 1.6rem