# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
env/

# Node
.next
node_modules/
frontend/widget/dist/
frontend/admin/dist/
aws-exports.js
config.json
.turbo/

# Terraform
infra/**/.terraform/
infra/**/*.tfstate
infra/**/*.tfstate.backup
infra/**/*.tfplan
*.tfvars
!*.example.tfvars
.terraform.lock.hcl
terraform.tfvars.json

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment
.env
.env.*
!.env.example

# Docker
docker-compose.override.yml
# prisma.config.ts

# Logs
*.log

# Coverage
htmlcov/
.coverage
coverage.xml

/generated/prisma
prisma/.env
