.section__tabs
  display: flex
  height: 3.8rem
  margin-left: .5rem
  margin-bottom: 1.5rem

.section__tab
  background: transparent
  border: none
  cursor: pointer
  border-bottom: 2px solid transparent
  white-space: nowrap
  padding: 0 1rem
  // font-variation-settings: "wght" 400
  // transition: font-variation-settings 0.9s ease
  color: #434343

.section__tab:hover
  // font-variation-settings: "wght" 600
  font-weight: 600
  color: #20242F

.current-tab
  border-color: #042f1a


.intsection__tab
  background: transparent
  border: none
  cursor: pointer
  border-bottom: 2px solid transparent
  white-space: nowrap
  padding: 0 1rem
  &:hover
    font-weight: 600
    color: #ff73b5
