.lead-details-con
    padding: 3rem


@media (max-width: 1024px)
    .lead-details-con
      padding: 2rem



@media (max-width: 990px)
    .lead-details-con
        padding: 0px 10px
        padding-top: 3rem

    .lead-details-row
        margin: 0rem

    .lead-details-col
        padding: 0rem
    