.td-br-left
    td
        border-left: 1px solid #E3E3E3


.margin-bottom25
    margin-bottom: 2.5rem

.margin-y
    margin-top: 2.5rem
    margin-bottom: 2.5rem

.entity-detail-left
    min-width: 37.2rem
    margin-right: 2rem
    max-width: 50%

.button-container
    column-gap: 1.2rem

.edit-icon
    color: #FF73B5
    width: 1.477rem
    height: 1.477rem
    
.edit-button
    width: 3.2rem
    height: 3.2rem
    margin-right: 1.2rem
    background-color: #FFF6F6
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer


.mb-2rem
    margin-bottom: 2rem
.mt-2rem
    margin-top: 2rem

.product-detail-image
    height: 14.5rem
    width: 14.5rem
    object-fit: cover
    border-radius: 1.44rem
    border: 1px solid #E3E3E3
    margin-left: 0.5rem
    margin-bottom: .5rem
    // width: 14rem
    // height: 14rem
    // border-radius: .4rem
    // border: .1rem solid #e3e3e3
    // margin-right: 1rem
    // object-fit: cover

.product-table td
  vertical-align: middle

.no-docs-div
    margin-top: 5rem
    margin-bottom: 5rem

.add-btn-disable
    color: #8f9595 !important
    border-color: #8f9595 !important

.active,
.approved
    color: #30B670

.deactivated
    color: #D71A23
.draft,
.entered
    color: #0073E6

.invoiced
  color: #085319
  
.shipped
  color: #6C757D

.material-detail
    display: flex

.tax-radio-selection
    width: 1.7rem
    height: 1.7rem


.po-linked-button
    &:hover
        text-decoration: underline
        
@media screen and ( max-width: 991px  )
    .material-detail
        display: block