.section__table th,
.section__table td
  text-align: left
  padding: 0.75rem
  border: 1px solid #E3E3E3 !important
  font-weight: inherit
  white-space: nowrap
.section__table-header
    background-color: #EDF2FB
    border-left: 1px solid #E3E3E3
    border-right: 1px solid #E3E3E3

.section__table tr
    border-left: 1px solid #E3E3E3
    border-right: 1px solid #E3E3E3

.w-custom450px
  width: 450px
  white-space: wrap !important


.tooltip2
    position: absolute
    width: 21.7rem
    height: fit-content
    border-radius: 0.6rem
    border: 1px solid #FF73B5
    box-shadow: 1px 1px 21.7px 0px #00000026
    z-index: 100
    background: #fff
    left: -8px
    top: -69px

    p
        line-height: 1.8rem

.closeButton
    color: #FF73B5
    width: 7px
    height: 7px
    border: 0
    background: transparent
    font-size: 12px

.tooltipArrow
    position: absolute
    bottom: -8px
    left: 50%
    transform: translateX(-50%)
    width: 16px
    height: 8px
    overflow: hidden
    
    &:after
        content: ""
        position: absolute
        width: 8px
        height: 8px
        background: #fff
        transform: translateX(-50%) translateY(-50%) rotate(45deg)
        top: 0
        left: 50%
        box-shadow: 1px 1px 0 0 #ff69b4



.info-icon
    align-self: center
    margin-left: 0.8rem
    cursor: pointer
    width: 16px
    height: 16px

.tableWidthAuto
    width: auto