.exo_semibold_blue_16px
    font-family: var(--font-exo), sans-serif
    font-weight: 600
    font-size: 1.6rem
    width: 7rem
    // color: #1E1D50
    background: linear-gradient(191.36deg, #1E1D50 8.36%, #40689A 105.6%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    
.inter_regular_hotPink_14px
    font-family: 'Poppins','Inter', sans-serif
    font-weight: 400
    font-size: 14px
    color: #FF73B5
.inter_regular_hotPink_11px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 11px
    color: #FF73B5

.inter_regular_darkgreen_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #042F1A

.inter_bold_darkgreen_40px
    font-family: 'Inter', sans-serif
    font-weight: 800
    font-size: 4rem
    color: #042F1A

.inter_semibold_darkgreen_25px
    font-family: 'Inter', sans-serif
    font-weight: 800
    font-size: 2.5rem
    color: #042F1A

.inter_semibold_black_24px
    font-family: 'Inter', sans-serif
    font-weight: 700
    font-size: 2.4rem
    color: #101828

.inter_semi_bold_black_18px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.8rem
    color: #101828

.inter_semibold_black_16px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.6rem
    color: #101828

.inter_medium_black_16px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.6rem
    color: #101828

.inter_medium_black_14px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.4rem
    color: #101828

.inter_semibold_darkgreen_24px
    font-family: 'Inter', sans-serif
    font-weight: 700
    font-size: 2.4rem
    color: #042F1A

.inter_semibold_white_52px
    font-family: 'Inter', sans-serif
    font-weight: 700
    font-size: 5.2rem
    color: #FFFFFF

.inter_regular_darkgreen_18px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.8rem
    color: #042F1A

.inter_regular_darkblue_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #0033AB

.inter_regular_diffBlack_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #222222
.inter_regular_black_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #434343
.inter_normal_black_14px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.4rem
    color: #434343

.inter_semibold_black_14px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.4rem
    color: #434343

.inter_regular_black_12px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #434343

.inter_regular_black_20px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 2rem
    color: #434343

.inter_regular_black_16px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #434343

.inter_semibold_black_18px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.8rem
    color: #434343

.inter_regular_shark_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 14px
    color: #20242F

.inter_regular_shark_10px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 10px
    color: #20242F

.inter_regular_greenblack_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 14px
    color: #1E3234

.inter_regular_gray_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 14px
    color: #5F5F5F

.inter_regular_gray_9px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 9px
    color: #5F5F5F

.inter_regular_gray_12px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.2rem
    color: #434343

.inter_regular_gray2_12px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.2rem
    color: #5F5F5F

.inter_regular_gray_11px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 11px
    color: #5F5F5F

.inter_regular_lightgray2_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 14px
    color: #B0B0B0

.inter_regular_gray_16px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 16px
    color: #5F5F5F

.inter_regular_lightgray_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 14px
    color: #8F9595

.inter_regular_lightgray_12px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 12px
    color: #8F9595

.inter_regular_lightgray_11px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 11px
    color: #8F9595

.inter_normal_shark_20px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 20px
    color: #20242F

.inter_500_shark_20px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 20px
    color: #20242F

.inter_500_blue_18px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 18px
    color: #004085

.inter_500_gray_24px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 2.4rem
    color: #5F5F5F

.inter_semibold_shark_16px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.6rem
    color: #20242F

.inter_semibold_shark_25px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 2.5rem
    color: #20242F

.inter_regular_shark_12px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.2rem
    color: #20242F

.inter_regular_shark_16px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #20242F

.inter_regular_gray2_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 14px
    color: #434343

.inter_normal_shark_12px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.2rem
    color: #20242F

.inter_normal_shark_11px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.1rem
    color: #20242F

.inter_regular_shark_11px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.1rem
    color: #20242F

.inter_normal_shark_14px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.4rem
    color: #20242F

.inter_normal_shark_15px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.5rem
    color: #20242F

.inter_semibold_shark_12px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.2rem
    color: #20242F

.inter_semibold_shark_14px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.4rem
    color: #20242F

.inter_regular_white_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #FFF6F6

.inter_regular_white_12px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.2rem
    color: #FFF6F6

.inter_regular_white_10px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1rem
    color: #FFF6F6

.inter_regular_op65white_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #FFFFFFA6

.inter_semibold_shark_24px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 2.4rem
    color: #20242F

.inter_regular_semibold_shark_24px
    font-family: 'Inter', sans-serif
    font-weight: 300
    font-size: 2.4rem
    color: #20242F

.inter_regular_white_16px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #FFF6F6

.inter_regular_red_12px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.2rem
    color: #D71A23

.inter_regular_red_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #D71A23

.inter_regular_red_16px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #D71A23

.inter_regular_dimgray_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #6A6A6A

.inter_semibold_hotPink_14px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 14px
    color: #FF73B5

.inter_light_dimgray_12px
    font-family: 'Inter', sans-serif
    font-weight: 300
    font-size: 1.2rem
    color: #6A6A6A

.inter_bold_dimgray_12px
    font-family: 'Inter', sans-serif
    font-weight: 700
    font-size: 1.2rem
    color: #6A6A6A

.inter_regular_shark_15px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 15px
    color: #20242F

.inter_regular_dimgray2_12px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.2rem
    color: #767676

.inter_regular_shark_22px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 2.2rem
    color: #20242F

.inter_semibold_black_12px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.2rem
    color: #364153

.inter_semibold_shark_50px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 50px
    color: #20242F

.inter_semibold_shark_30px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 30px
    color: #20242F

.poppins_semibold_shark_36px
    font-family: 'Poppins', sans-serif
    font-weight: 700
    font-size: 3.6rem
    color: #20242F

.inter_semibold_gray_50px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 50px
    color: #5F5F5F

.inter_normal_shark_18px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 18px
    color: #20242F

.inter_500_shark_16px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 16px
    color: #20242F

.inter_500_shark_18px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 18px
    color: #20242F

.inter_regular_shark_18px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 18px
    color: #20242F

.inter_regular_blue_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 14px
    color: #244ABF

.inter_regular_blue_18px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 18px
    color: #244ABF

.inter_regular_normalgray_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #6A7282
.inter_regular_normalgray_12px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.2rem
    color: #6A7282

.inter_semibold_pink_16px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 16px
    color: #FF73B5

.inter_regular_black_15px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.5rem
    color: #000

.inter_regular_grey_22px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 2.2rem
    color: #7A7D81

.inter_regular_light_grey_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #7A7D81

.sorce_regular_light_grey_18px
    font-family: 'Source Serif 4', sans-serif
    font-weight: 400
    font-size: 1.8rem
    color: #7A7D81

.inter_regular_grey_16px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #4A5565

.inter_regular_grey_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #4A5565

.inter_regular_green_12px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.2rem
    color: #1275B3

.inter_medium_green_12px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.2rem
    color: #1275B3

.inter_regular_green_10px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1rem
    color: #1275B3

.inter_regular_green_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #1275B3

.inter_medium_green_14px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.4rem
    color: #1275B3

.inter_semi_bold_green_14px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.4rem
    color: #1275B3

.inter_semi_bold_green_16px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.6rem
    color: #1275B3

.inter_medium_green_11px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.1rem
    color: #1275B3

.inter_bold_green_30px
    font-family: 'Inter', sans-serif
    font-weight: 700
    font-size: 3rem
    color: #1275B3

.inter_medium_stable_10px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1rem
    color: #16A34A

.inter_medium_stable_12px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.2rem
    color: #16A34A

.inter_medium_weather_risk_10px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1rem
    color: #D97706

.inter_medium_weather_risk_12px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.2rem
    color: #D97706

.inter_medium_red_10px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1rem
    color: #92400E

.inter_medium_red_11px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.1rem
    color: #92400E

.inter_medium_red_12px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.2rem
    color: #92400E

.inter_medium_light_green_11px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.1rem
    color: #10B981

.inter_medium_light_green_12px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.2rem
    color: #10B981

.inter_medium_light_green_10px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1rem
    color: #10B981

.inter_medium_light_green_14px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.4rem
    color: #10B981

.inter_regular_light_grey_12px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.2rem
    color: #A6A6A6

//

.arial_regular_white_13px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.3rem
    color: #FFFFFF

.arial_regular_9CA3AF_13px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.3rem
    color: #9CA3AF

.arial_regular_shark_13px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.3rem
    color: #20242F

.arial_regular_shark_14px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #20242F

.arial_regular_shark_16px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #20242F

.arial_regular_shark_18px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.8rem
    color: #20242F

.arial_bold_shark_18px
    font-family: 'Arial', sans-serif
    font-weight: 700
    font-size: 1.8rem
    color: #20242F

.arial_bold_shark_14px
    font-family: 'Arial', sans-serif
    font-weight: 700
    font-size: 1.4rem
    color: #20242F

.arial_regular_shark_20px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 2rem
    color: #20242F

.arial_regular_black_14px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #2A2A2A

.arial_regular_pencilgrey_14px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #8F9595

.arial_regular_pencilgrey_12px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.2rem
    color: #8F9595

.arial_regular_lightgrey_12px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.2rem
    color: #434343

.arial_regular_lightgrey_14px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #434343

.arial_regular_lightgrey_13px
    font-family: 'Arial', sans-serif
    font-weight: 700
    font-size: 1.3rem
    color: #434343

.arial_normal_lightgrey_13px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.3rem
    color: #434343

.arial_1F2937_lightblue_14px
    font-family: 'Arial', sans-serif
    font-weight: 700
    font-size: 1.4rem
    color: #1F2937

.arial_regular_lightgrey_16px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #434343

.arial_regular_5f5f5f_16px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #5F5F5F

.arial_regular_5f5f5f_14px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #5F5F5F
.arial_regular_5f5f5f_11px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.1rem
    color: #5F5F5F

.arial_regular_5f5f5f_13px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.3rem
    color: #5F5F5F

.arial_regular_5f5f5f_12px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.2rem
    color: #5F5F5F

.poppins_regular_5f5f5f_12px
    font-family: 'Poppins', sans-serif
    font-weight: 500
    font-size: 1.2rem
    color: #5F5F5F

.poppins_semibold_dark_grey_14px
    font-family: 'Poppins', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #5F5F5F

.arial_regular_white_18px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.8rem
    color: #fff

.arial_regular_grey_16px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #4A5565

.arial_regular_white_16px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #fff

.arial_bold_shark_24px
    font-family: 'Arial', sans-serif
    font-weight: 700
    font-size: 2.4rem
    color: #20242F

.arial_regular_shark_24px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 2.4rem
    color: #20242F

.arial_regular_shark_28px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 2.8rem
    color: #20242F

.arial_regular_black_16px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #0F1724

.arial_bold_blackgreen_24px
    font-family: 'Arial', sans-serif
    font-weight: 700
    font-size: 2.4rem
    color: #042F1A

.arial_regular_blackgreen_16px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #042F1A

.arial_regular_blackgreen_14px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #042F1A

.arial_regular_blue_14px
    font-family: 'Arial', sans-serif
    font-weight: 400
    font-size: 14px
    color: #244ABF

.rubik_bold_blackgreen_36px
    font-family: 'Rubik', sans-serif
    font-weight: 700
    font-size: 3.6rem
    color: #042F1A

.rubik_bold_blackgreen_24px
    font-family: 'Rubik', sans-serif
    font-weight: 700
    font-size: 2.4rem
    color: #042F1A

.rubik_bold_white_48px
    font-family: 'Rubik', sans-serif
    font-weight: 700
    font-size: 4.8rem
    color: #fff

.inter_light_white_12px
    font-family: 'Inter', sans-serif
    font-weight: 300
    font-size: 1.2rem
    color: #fff

.inter_regular_white_24px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 2.4rem
    color: #fff

.inter_bold_white_12px
    font-family: 'Inter', sans-serif
    font-weight: 700
    font-size: 1.2rem
    color: #fff

.inter_regular_vampireblack_36px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 3.6rem
    color: #0A0A0A

.inter_regular_vampireblack_22px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 2.2rem
    color: #0A0A0A

.inter_regular_lightgray_18px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.8rem
    color: #8F9595

.inter_semibold_white_16px
    font-family: 'Inter', sans-serif
    font-weight: 700
    font-size: 1.6rem
    color: #ffffffff

.inter_regular_shark_24px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 2.4rem
    color: #20242F

.inter_regular_gray_18px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 18px
    color: #5F5F5F

.inter_regular_gray_9px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 9px
    color: #5F5F5F

.inter_regular_gray_10px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 10px
    color: #5F5F5F

.inter_regular_darkgreen_16px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #042F1A

.inter_regular_darkorange_11px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 11px
    color: #BB4D00

.inter_regular_lightgray_16px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #8F9595

.inter_regular_lightgray_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #8F9595

.inter_semibold_white_14px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.4rem
    color: #fff

.inter_bold_white_14px
    font-family: 'Inter', sans-serif
    font-weight: 700
    font-size: 1.4rem
    color: #fff

.inter_regular_green_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 14px
    color: #007A55

.inter_regular_white_32px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 3.2rem
    color: #FFF6F6

.inter_bold_shark_24px
    font-family: 'Inter', sans-serif
    font-weight: 700
    font-size: 2.4rem
    color: #20242F

.inter_regular_black_18px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.8rem
    color: #434343

.inter_semibold_black_20px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 2rem
    color: #434343

.inter_semibold_black_11px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.1rem
    color: #434343

.inter_normal_black_20px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 2rem
    color: #434343

.inter_normal_black_10px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1rem
    color: #434343

//new 
.inter_regular_darkblack_18px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.8rem
    color: #2D2D2D


.inter_regular_ashgray_16px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #5B5B5B

.inter_regular_darkgrey_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #5B5B5B
.inter_regular_darkcharcoal_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #333333

.inter_regular_greencyanblue_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #1275B3
.inter_bold_greencyanblue_14px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.4rem
    color: #1275B3

.inter_regular_darkblack_16px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #2D2D2D

.inter_regular_darkblack_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #2D2D2D

.inter_regular_darkblack_14px1
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #2D2D2D

.inter_regular_oblack_18px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.8rem
    color: #000000

.inter_regular_oblack_20px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 2rem
    color: #000000

.inter_regular_oblack_16px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.6rem
    color: #000000

.inter_regular_oblack_14px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #000000

.inter_bold_darkblack_18px
    font-family: 'Inter', sans-serif
    font-weight: 700
    font-size: 1.8rem
    color: #2D2D2D

.inter_light_darkblack_18px
    font-family: 'Inter', sans-serif
    font-weight: 300
    font-size: 1.8rem
    color: #2D2D2D

.inter_regular_Exo_24px
    font-family: 'Exo', sans-serif
    font-weight: 400
    font-size: 2.4rem
    color: #0A0D1D

.inter_regular_black_24px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 2.4rem
    color: #0A0D1D

.inter_regular_black_15px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.5rem
    color: #0A0D1D

.inter_medium_black_15px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.5rem
    color: #0A0D1D

.inter_medium_black_18px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.8rem
    color: #0A0D1D

.inter_medium_grey_13px
    font-family: 'Inter', sans-serif
    font-weight: 500
    font-size: 1.3rem
    color: #1A1A1A9C

.inter_regular_grey_12px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.2rem
    color: #00000080

.inter_regular_black_13px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.3rem
    color: #0A0D1D

.inter_semibold_black_13px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.3rem
    color: #0A0D1D

.inter_regular_grey_13px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.3rem
    color: #1A1A1A9C

.inter_regular_lightgrey_12px
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1.2rem
    color: #1A1A1A9C

.inter_semibold_lightgrey_16px
    font-family: 'Inter', sans-serif
    font-weight: 600
    font-size: 1.6rem
    color: #1A1A1A9C