.breadcrumbs-container
  display: flex
  align-items: center
  padding: 1.2rem 3rem
  background-color: #EDF2FB
  overflow-x: auto
  p,button,a
    margin-right: 1rem
  a
    &:hover
      color: inherit !important
  button
    &:hover
      color: inherit !important


.breadcrumb-name
  white-space: nowrap

// @media screen and ( max-width: 1024 )
//   .breadcrumbs-container
//     position: fixed
//     width: 100%
//     z-index: 1
  