.section__table
  width: 100%
  border-collapse: collapse

// .section__table .inter_regular_black_14px
//     color: #000

.section__table th,
.section__table td
  text-align: left
  padding: 0.75rem
  border-bottom: 1px solid #D0D0D0
  white-space: nowrap
  padding-left: 1.4rem

.section__table-header
    background-color: #EDF2FB

.section__table-header th
  font-weight: 400 !important
  color: black !important
  font-size: 1.5rem !important

.roleColumnWidth
  width:24rem

.section_table_fullborder th,
.section_table_fullborder td
  border: 1px solid #D0D0D0 !important

.table_body th,
.table_body td
  text-align: left
  padding: 0.75rem
  border-bottom: 1px solid #E3E3E3 !important
  white-space: nowrap
  padding-left: 1.4rem

.table_body tr:hover
  background: #F5F5F5

.table_body tr
  cursor: pointer

.new,
.active,
.approved
    color: #30B670

.closed,
.deactivated
    color: #D71A23
.draft,
.entered
    color: #0073E6

.invoiced
  color: #085319
  
.shipped
  color: #6C757D