.pink-button
    background-color: #1275B3
    border-radius: .5rem
    width: 14.1rem
    height: 3.3rem
    justify-content: center
    align-items: center

    &:hover
        color: #fff
    &:disabled
        background-color: #E3E3E3
        color: #8F9595
        cursor: not-allowed


.submit-approve
    width: 18rem

.white-button
    background-color: #fff
    border-radius: .5rem
    width: 14.1rem
    height: 3.3rem
    border: 1px solid #1275B3 
    color: #1275B3
    justify-content: center
    align-items: center
    &:hover
        color: #1275B3
    &:disabled
        color: #fff
        border: none
        background-color: #E3E3E3

.width-half
    width: 6.5rem

.fixed-width-btn
    width: 19.9rem


.dash-button
    border: 1px dashed #D0D0D0