
.font-size-custom
  font-size: 1rem !important
  
.group-36568-emdc-
  display: flex
  justify-content: center
  align-items: center

.group-36567-emdc-
  font-size: 2rem
  margin-right: 7px
  color: #d71a23

.icon-size-custom
  font-size: 1.4rem

.text-1-emdc-
  letter-spacing: 0
  line-height: 14px
  width: 466px

.position-error-message-incorrect-assc
  margin-top: 15px
  margin-bottom: -11px

.flight-mutli-city-origin-empty-error
  margin-top: 1rem

.flight-mutli-city-destination-empty-error
  margin-top: 1rem
  margin-left: 2rem

@media (max-width: 576px)
  .text-1-emdc-
    font-size: 1.2rem !important