.card 
  background: #EDF2FB
  padding: 15px 20px
  border-radius: 12px
  display: flex
  flex-direction: column
  gap: 15px

.valueContainer
  display: flex
  justify-content: space-between
  align-items: center

// .valueContainer span 
//   display: flex
//   align-items: center


.title 
  // margin-bottom: 0


.value 
  margin-bottom: 0
  // line-height: 28px





  
