.label-and-input
    border: .1rem solid #E3E3E3
    border-radius: .8rem
    height: 3.3rem
    margin-top: .8rem
    padding: 1.2rem
    &:disabled
        background-color: #F7F7F9
        color: #b0b0b0 !important

/* stylelint-disable */
.label-and-text
    field-sizing: content !important
/* stylelint-disable */

.url
    color: #244ABF

.textarea-padding
    padding: .575rem .75rem

.custom-date-input-label
    position: absolute
    top: 36%
    left: 3px
    right: 0
    bottom: 0
    padding: 8px 12px
    pointer-events: none
    font-family: inherit
    font-size: 14px
    background-color: transparent
    transform: translateY(-50%)
    z-index: 1
    
        

.label-date-input
    position: relative
    background-color: transparent
    color: transparent
    font-size: 14px
    &:disabled
        background-color: #F7F7F9
        color: transparent !important
        


.mandatory-star
  color: #D71A23
  margin-left: 0.3rem

.mandatoryError-border
    border-color: #D71A23

.info-icon
    align-self: center
    margin-top: 0.8rem
    margin-left: 0.8rem
    cursor: pointer
    width: 16px
    height: 16px


.normal-borderpx
    border: 1px solid #e3e3e3



.green-border
    border-color: #3DB06F

.red-border
    border-color: #D71A23


.table-container-scroll
    overflow: auto

@media screen and ( max-width: 1024px )
    .table-container-scroll
        overflow: inherit
    