
.heading-padding
  padding-top: 2rem

.buttons-div
  margin-top: 1.8rem
  margin-bottom: 1.8rem
  display: flex 
  align-items: center
  justify-content: center
  column-gap: 1.2rem

.remove-border-cmp
  border-bottom: none

.group-532-aipuc
  align-items: center
  background-color: #ebebeb
  border-radius: 21.5px
  display: flex
  height: 25px
  justify-content: center
  min-width: 25px
  cursor: pointer
  border-color: transparent
  svg
    font-size: 1.6rem

.height-25
  display: flex
  height: 25px
  justify-content: center
  min-width: 25px

.create-profile-prof-container .top-card-cyp 
  height: 12rem
  

.payment-modal-container .top-card-cyp 
  height: 100%
  
.top-card-cyp
  border: none
  height: 15rem

.top-card-cypmanu
  height: 18rem

.generate-top-card-cyp
  border: none
  height: 11rem
  
.content-description-cmp
  height: 60%
  display: flex
  align-items: center
  justify-content: center

.generate-content-description-cmp
  margin-top: 3.3rem
  display: flex


.crossTick-forget-password1
  width: 40px
  height: 40px
  object-fit: cover

.modalcontainer-maxheight
  max-height: 630px !important
  overflow: auto
  margin-top: -1rem

@media (max-width: 600px)
    
  .top-card-cyp
    height: 11rem

@media (max-width: 576px)
  .group-532-aipuc
    margin-left: 0
    height: 37px

  .height-25
    margin-left: 0
    height: 37px