.edit-icon
    color: #1275B3
    width: 1.477rem
    height: 1.477rem
    
.edit-icon2
    color: #1275B3
    width: auto
    height: auto
    

.edit-button
    width: 3.2rem
    height: 3.2rem
    margin-right: 1.2rem
    background-color: #EDF2FB
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    border: none

.pink-border
    border: 1px solid #1275B3